.home{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
    Centers the hole div Home, this will contain buttons to go or open a
    popup with a window displaying the name & info of a team
*/

.home .header{
    text-align: center;
    text-decoration: dotted;
    border-radius: 25px;
    border: 2px solid #676767;
}
/*
    Creates a border around the text area
*/

.home .title:after {
    content:"";
    display:block;
    width: 6em;
    max-width:70%;
    border-bottom: 0.3em solid #F3C577;
    margin: 0.3em auto 1em;
}
/*
    Creates a line under the title (h1)
*/
