@import "./Vars.scss";

.navigation-container {
  display: flex;
  justify-content: space-between;

  .links-container {
    display: flex;
    a {
      font-weight: 900;
      display: inline-block;
      padding: 8px 20px;
      line-height: 32px;
      text-decoration: none;
      text-align: left;
      color: #fff;
      border-bottom: 2px solid transparent;

      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color 0.5s cubic-bezier(0.06, 0.81, 0, 0.98);

      &:hover {
        border-bottom: 2px solid $pink-dark;
        transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98), border-color 0.5s cubic-bezier(0.06, 0.81, 0, 0.98);
      }
      &:active {
        background-color: transparent !important;
      }
    }
    .current {
      a {
        color: $purple-dark;
      }
    }
  }

  .social-links-container {
    display: flex;
    a {
      background: #383838;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      &:nth-child(2) {
        margin: 0 6px;
      }
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
