@import url('https://fonts.googleapis.com/css?family=Muli:wght@200;900,200&display=swap');

$theme-font: 'Muli', sans-serif;
$pink-fresh: #F72585;
$pink-dark: #B5179E;
$purple: #7209B7;
$purple-dark: #560BAD;
$blue-trip: #3A0CA3;
$blue-marine: #4361EE;
$blue-light: #4895EF;
$gray-dark: #222222;
$gray-light: #272627;
