@import "./Vars.scss";

.videos-list-container {
    .title {
        font-weight: 900;
        color: white;
        b {
            color: $rose;
        }
    }
    .list {
        display: flex;
        width: calc(100vw - 177px);
        overflow: hidden;
        overflow-x: auto;
        img { 
            width: 220px;
            border-radius: 10px;
            margin-right: 20px;
        }
    }
    
}