@import "./Vars.scss";

.videos-list-container {
    .title {
        font-weight: 900;
        color: white;
        b {
            color: $pink-dark;
        }
    }
}

.carousel-container {
    max-width: calc(100vw - 190px);
}
